{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tarkari Deal Backend</title>
  <link rel="icon" href="favicon.png" type="image/png">
  <style>
    body {
      background-color: white;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

    img {
      width: 80px;
      height: auto;
      margin-bottom: 20px;
    }

    h1 {
      color: #243c6a;
      font-size: 32px;
      margin: 0;
      width: 200px;
    }
  </style>
</head>
<body>
  <img src="../../media/logo.png" alt="Logo">
  <h1>Tarkari Deal Backend</h1>
</body>
</html>
